.footer{
    background:#0f172a;
    color:white;
    padding:40px 60px;
}
.footer-container{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
.footer-section{
    width:220px;
    margin-bottom:20px;
}
.footer-section h3{
    margin-bottom:15px;
}
.footer-section ul{
    list-style:none;
    padding:0;
}
.footer-section ul li{
    margin-bottom:8px;
}
.footer-section ul li a{
    text-decoration:none;
    color:#d1d5db;
}
.footer-section ul li a:hover{
    color:#facc15;
}
.footer-logo{
    display:flex;
    align-items:center;
    gap:8px;
    margin-bottom:15px;
}
.social-icons{
    display:flex;
    gap:15px;
    font-size:20px;
}
.social-icons svg{
    cursor:pointer;
}
.social-icons svg:hover{
    color:#facc15;
}
.footer-bottom{
    text-align:center;
    border-top:1px solid #374151;
    margin-top:30px;
    padding-top:15px;
    font-size:14px;
}